// == style css buttons Today Prev and Next

// == use vars file
@use 'src/styles/vars';

.visitorCalendar {
  margin: 3em auto 0;
  width: 95vw;

  // == style css buttons Today Prev and Next
  .visitorCalendar-buttonsTodayMonth {
    margin: 1em 0;
    
    .visitorCalendar-buttonsTodayMonth-button {
      background-color: vars.$grey;
      border: none;
      border-radius: 5px;
      color: vars.$orange;
      margin-right: 1em;
      padding: 0.6em;
      transition: 0.3s ease-out;
  
      &.visitorCalendar-buttonsTodayMonth-button:hover {
        background-color: vars.$orange;
        color: vars.$black;
      }
  
      &.visitorCalendar-buttonsTodayMonth-button:active {
        background-color: vars.$lightOrange;
        transform: scale(0.8);
      }
    }
  }
}
