@use 'src/styles/vars';

.connect{
  background-color: vars.$lightOrange;
  opacity: 0.5;
  width: 80%;
  height: 20em;
  margin: auto;
    @media (max-width: 1000px){
      display: none;
    }
  .connect-toggle{
    position: relative;
    top: -6em;
    display: flex;
  }
  .connect-form{
    padding-top: 3em;
    .connect-submit{
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1.2em;
      background-color: vars.$grey;
    }
  }
}
