// colors
$green: #9ed2bf;
$lightGreen: #daece5;
$red: #ea5264;
$orange: #f46d5f;
$lightOrange: #e4bd9f;
$yellow: #f3c465;
$lightYellow: #fad689;
$grey: #c1c1c1;
$black: #474647;

// fonts
$fontAlagambe: 'Alagambe',sans-serif;

// font-weight
$fwLight: 100;
$fwMedium: 200;
$fwBold: 300;
