@use 'reset';
@use 'vars';

body {
  font-family: 'Raleway', sans-serif;
  font-weight: vars.$fwMedium;
  background-color: vars.$lightGreen;
}

/* 
  // or you can import your own font
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
  @font-face {
    font-family: 'Alagambe', sans-serif;
    src: url('../assets/fonts/alagambe.otf');
  }
