@use 'reset';
@use 'vars';

 html body  {
  font-family: 'Raleway', sans-serif;
  font-weight: vars.$fwBold;
  background-color: vars.$lightGreen;
  font-size: 1.2rem;
}

/* 
  // or you can import your own font
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
  @font-face {
    font-family: 'Alagambe', sans-serif;
    src: url('../assets/fonts/alagambe.otf');
  }
