@use 'src/styles/vars';

.header{
  .header-logo{
    max-width: 100%;
    background-size: cover;
    border-bottom: 1px solid vars.$black;

    @media(min-width:600px){
      height: 20em;
    }
  }

  .nav{
  display: block;
  position: relative;
  top: -4.5em;

  } 

  .nav-item{
    padding: 2em;
    text-align: center;
    transition: font-size 0.3s;
    &--active {
      color: vars.$orange;
      font-size: 20px;
      
    }
    &:hover {
      color: vars.$orange;
    
    }
    @media (max-width : 600px){
      display: none;
      }
  }
  }

  .nav-item-connect{
    padding: 2em;
    text-align: center;
    color: vars.$orange;
    background-color: RGBA(248,203,169,0.4);
    box-shadow: 3px 1px 3px vars.$orange;
    border-radius: 50px;
    padding: 5px 5px;
 
    @media (max-width : 600px){
      position: absolute;
      right: 5px;
      bottom: -50px;
    }
    
    .logout-form{
      margin-left: 4px;
      border-radius: 50px;
      color:vars.$green;
      border: none;
      background-color: vars.$lightGreen;
      &:hover{
        width: 26px;
        height: 26px;
        font-size: 20px;
        box-shadow: 3px 3px 3px vars.$green;
        content: 'Déconnexion';
      }
    }
  }
  .nav-authentified{
    position: absolute;
    top: 1em;
    right: 1em;
     background-color: vars.$lightOrange;
     padding: 1rem;
     border-radius: 50px;
  }
