.nav-footer {
  position: relative;
  top: 30rem;

  .nav-item {
    display: inline-block;  
    padding: 1rem;
    padding-left: 2rem;
  }
}
.nav-mobile{
  display: block;
  position: fixed;
  bottom: 0;
  .nav-item{
    padding: 1em;
    text-align: center;
    margin: 0 auto;
  }
}
